@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Tarea 5 - El CRUD</h1>
</div>
<div class="row">
    <div class="col-md-11">
        <h2>Tarea 5 - El CRUD</h2>
        <p>
            Este proyecto debe crear un mantenimiento tipo CRUD (Crear, detalle,borrar y listar) de la entidad (Empleado).
            <br />
            Lo primero que debe presentarse es el listado de los empleados almacenados.
            <br />
            Desde esa lista nos dan opciones para "CRear uno nuevo", borrar, actualizar. Ejemplo:
        </p>
        <br />
        <p>
            Empleados
            <br /><br />
            [Crear nuevo]
            <br />
            Codigo   nombre   Sueldo Fecha Ingreso  SueldoNeto   Acciones<br />
            1               carlos    100       01/01/2001       90                 Ver, Editar, Borrar
            <br /><br />
            Las entidades con sus propiedades son:
            <br />
            Empleado: Codigo,nombre,fechaIngreso,SueldoBruto
            <br />
            Los datos deben mantenerse en memoria utilizando “Session”.
        </p>
    </div>
   
</div>